*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{
    background-color: rgba(97, 97, 196,0.3);
}
#img1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 4px 10px;
    position: relative;
    top: 15px;
    left: 10px;
}
ul li{
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    font-size: x-large;
    position: relative;
    left: 68%;
    top: -50px;
}
#restaurant{
    width: 200px;
    height: 340px;
    margin: 30px 20px;
    border: 1px solid black;
    /* text-wrap: wrap; */
    /* word-wrap :; */
}

.restro-logo{
    width: 200px;
    height: 50%;
}
#body{
    display: flex;
    flex-wrap: wrap;
}
#btn{
    padding: 5px;
    cursor: pointer;
}
#search{
    width: 200px;
    height: 30px;
    margin: 10px 10px 10px 20px;
}
#shim{
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 188px;
    height: 212px;
    background-color: rgba(112, 111, 111,0.2);
    margin: 20px;
}
#data,#down{
    margin-right: 4px;
}
#menu{
    margin: 20px 20%;
    text-align: center;
}
#head2{
    display: flex;
    justify-content: space-between;
    background-color: rgb(186, 183, 183);
    margin: 10px 0;
    padding: 10px 20px;
}
#down{
    cursor: pointer;
}
#dis{
    margin: 3px;
    font-style: italic;
    font-size: larger;
}
#btn4{
    padding: 3px;
    width: 100px;
    height: 40px;
    font-size: xx-large;
    cursor: pointer;
}
#logbtn{
    position: absolute;
}